*.suo
*.sdf
*.opensdf
*.user
*.ide
*.vsmdi
*.VisualState.xml
*.testsettings
*.StyleCop
*.ReSharper.*
TestResult.xml
TestResults/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
/_ReSharper.*
ipch/
[Dd]istribute/
[Pp]ackages/
