*.suo
*.sdf
*.opensdf
*.user
*.vsmdi
*.VisualState.xml
*.testsettings
TestResults/
obj/
bin/
Debug/
Release/
/_ReSharper.*
*.ReSharper.*
TestResult.xml
*.StyleCop
ipch/
Distribute/
packages/
DICOM/T4/part06.xml
DICOM/T4/part07.xml
DICOM/T4/part16.xml
*.userprefs
/.vs
*.lock.json
*.nuget.props
*.nuget.targets
*.VC.opendb
*.db
*.DotSettings
/UpgradeLog.htm
/UpgradeLog2.htm
AppPackages/
Documentation/Help/
Platform/Mono/Dictionaries/*.xml.gz
