*.suo
*.sdf
*.opensdf
*.user
*.vsmdi
*.VisualState.xml
*.testsettings
TestResults/
obj/
bin/
Debug/
Release/
/_ReSharper.*
*.ReSharper.*
TestResult.xml
*.StyleCop
ipch/
Distribute/
packages/
DICOM/T4/part06.xml
DICOM/T4/part07.xml
DICOM/T4/part16.xml
*.userprefs
/.vs
*.lock.json
