<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a7ef217d-7a84-41a1-9204-be09adbf6efd" Publisher="CN=anders" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Store.DICOM.Dump</DisplayName>
    <PublisherDisplayName>anders</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Store.DICOM.Dump.App">
      <VisualElements DisplayName="Store.DICOM.Dump" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Store.DICOM.Dump" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".dcm">
            <DisplayName>DICOM file</DisplayName>
            <SupportedFileTypes>
              <FileType>.dcm</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>