name: build

on:
  push:
    branches:
    - development
  pull_request:
    branches:
    - development

jobs:
  v5-net-462:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: Build FO-DICOM.Core
      run: dotnet build ./FO-DICOM.Core/FO-DICOM.Core.csproj --configuration Release --runtime win-x64
    - name: Test FO-DICOM.Tests
      run: dotnet test ./Tests/FO-DICOM.Tests/FO-DICOM.Tests.csproj --configuration Release --framework net462 --runtime win-x64 --logger:"trx;LogFileName=.\resultsnet462.xml"
    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
          name: test-v5-net-462.xml
          path: ./Tests/FO-DICOM.Tests/TestResults/resultsnet462.xml
      
  v5-net-core-31:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: Build FO-DICOM.Core
      run: dotnet build ./FO-DICOM.Core/FO-DICOM.Core.csproj --configuration Release --framework netstandard2.0 --runtime win-x64
    - name: Test FO-DICOM.Tests
      run: dotnet test ./Tests/FO-DICOM.Tests/FO-DICOM.Tests.csproj --configuration Release --framework netcoreapp3.1 --blame --runtime win-x64 --logger:"trx;LogFileName=.\resultsnetcore31.xml"
    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
          name: test-v5-net-core-31.xml
          path: ./Tests/FO-DICOM.Tests/TestResults/resultsnetcore31.xml
      
  v5-net-60:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: Build FO-DICOM.Core
      run: dotnet build ./FO-DICOM.Core/FO-DICOM.Core.csproj --configuration Release --runtime win-x64
    - name: Test FO-DICOM.Tests
      run: dotnet test ./Tests/FO-DICOM.Tests/FO-DICOM.Tests.csproj --configuration Release --framework net6.0 --blame --runtime win-x64 --logger:"trx;LogFileName=.\resultsnet60.xml" --collect:"XPlat Code Coverage" --settings coverlet.runsettings
    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
          name: test-v5-net-60.xml
          path: ./Tests/FO-DICOM.Tests/TestResults/resultsnet60.xml
    - name: Upload code coverage 
      uses: codecov/codecov-action@v2

  benchmarks:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: Build FO-DICOM..Benchmark
      run: dotnet build ./Tests/FO-DICOM.Benchmark/FO-DICOM.Benchmark.csproj --configuration Release --framework net6.0
    - name: run benchmarks
      run: ./Tests/FO-DICOM.Benchmark/bin/Release/net6.0/fo-dicom.Benchmark.exe
    - name: Upload benchmark log
      uses: actions/upload-artifact@v2
      with:
        name: benchmark
        path: |
          ./BenchmarkDotNet.Artifacts/
          ./BenchmarkDotNet.Artifacts/results/
 

